#product-image{
    display: flex;
    flex-direction: column;
    padding: auto;
    padding: 2%;
    margin: 2%;
    align-items: flex-start;
    width: 35%;
    justify-content: space-between;
}
#main-image{
    width: 100%;
    padding: auto;
    padding-bottom: 6%;
}
#main-image img{
    width: 100%;
    height:430px;
    border-radius: 2%;
}
#alt-images{
display: flex;
justify-content: space-between;
width: 100%;
}
#alt-images img{
    width: 100%;
    height: 80px;
    border-radius: 5%;
}
#alt-images img:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.thumbnail-container {
    position: relative;
  }
  
  .thumbnail-container.selected-thumbnail .overlay {
    display: block;
  }
  
  .thumbnail-container.selected-thumbnail {
    border: 3px solid #da6201;
    border-radius: 5%;
  }
  
  .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    
  }
 
  @media only screen  and (max-width: 426px){
    #product-image{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }
  }